body{
    background-color: rgb(26, 26, 26);
}
.he{
    background: url('e5.jpg') no-repeat center center/cover;
    background-size: 100% 150%;
    position: fixed;
    width: 100%;
    height: 40vh;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0px;
    
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
}
.nav li {
    display: inline-block;
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
}

.nav li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px 15px;
}

.nav li a:hover {
    background-color: rgb(87, 87, 87);
    border-radius: 20%;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}
.bar{
    color: black;
    align-self: flex-start;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}

.sec{

    width: 30vw;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.l4{
    margin-right: 1vw;
}
.sec button {
    color: white;
    background-color: rgba(31, 31, 31, 0.586);
    font-size: 1rem;
    padding: 0.5vw;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
}
.sec button:hover{
    background-color: rgb(129, 129, 129);
    color: black;
    font-size: 1.1rem;
    border-radius: 20%;
    padding: 0.5vw;
    cursor: pointer;
    font-family: Tahoma, sans-serif;
}
.blank{
    margin-top: 10vh;
    height: 30vh;
    
}
.name{
    color: white;
    margin-top: 2vh;
    margin-left: 0.5vw;
   font-size: 4vw;
   font-style: italic;
   font-family: 'Brush Script MT', cursive;
}
.intro{
    margin-left: 0px;
    left: 0;
    padding-left: 1vw;
    background-color: rgb(221, 157, 78);
    top: 0;
    color: rgb(64, 10, 10);
    margin-top: 1vw;
    margin-left: 0.5vw;
   font-size: 1.5vw;
   font-family:  monospace;
}
.h{
    font-size: 1.5vw;
    display: inline-block;
    color: white;
    margin-top: 1vw;
    margin-left: 0.5vw;
    font-family: 'Courier New', monospace;
}

.tab table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2vw;
    color: rgb(153, 118, 118);
}
@media screen and (max-width: 1080px) {
    div.tab {
      font-size: 8px;
    }
  }

.tab table, th, td {
    border: 0.1vw solid #ffffff;
}

.tab th, td {
    padding: 1vw;
    text-align: left;
}
.tab input{
    width: 12vw;
    font-size: 1vw;
}


.sub{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.sub button{
    margin: 2vw 1vw 3vw 3vw;
    border: 1vw;
    border-radius: 2vw;
    font-family: Georgia, serif;
    padding: 0.5vw;
    background-color: rgb(206, 198, 198);
}
.sub button:hover{
    border-radius: 0vw;
    border-color: white;
    font-family: Georgia, serif;
    padding: 0.5vw;
    background-color: rgb(0, 0, 0);
    color: white;
}
thead{
    background-color: rgb(52, 57, 60);
    font-weight: bold;
    font-size: large;
    color: rgb(255, 255, 255);
}
